body {
    background-color: darkgray;
    background-image: url(./images/moment-player.jpg);
    background-size: cover;
    display: flex;
    background-position: center center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    justify-content: center;

}
* {
    box-sizing: border-box;
  
}
.countdown-container {
display: flex;

}
h1{
    font-size: 5rem;
    color: white;
}


span{
    font-size: 2rem;
    color: white;
    justify-content: space-evenly;
    width: 9rem;
}